{% extends 'UserLogedin.html.twig' %}

        {% block title %}ISSIMI - {{ Title }} {% endblock %}


        {% block stylesheets %}
                {{ parent() }}

        {% endblock %}

        {% block body %}

<div class="content mt-3">
    <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Instellingen</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form>
                                {% for Setting in Settings %}
                                    <div class="form-group">
                                        <label for="{{ Setting.Name }}">
                                            {{ Setting.Description }}
                                        </label>
                                        <input name="{{ Setting.Name }}" value="{{ Setting.Value }}" type="{{ Setting.type }}">
                                    </div>
                                {% endfor %}
                                <button class="btn btn-primary" type="submit">save</button>
                            </form>
                        </div>
                        <div class="col">
                            {{ form_start(SettingsForm) }}
                            <div class="row">
                                <div class="col">
                                    {{ form_widget(SettingsForm) }}
                                </div>
                            </div>
                            {{ form_end(SettingsForm) }}

                        </div>
                    </div>
                </div>

            </div>

    </div>
</div>
        {% endblock %}


{% block javascripts %}

    {{ parent() }}




    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
            var ModelList = SchrinkModelList();
        });
        function SchrinkModelList() {
            var Message_Manufacturer = document.getElementById("Message_Manufacturer");
            var ClassName = Message_Manufacturer.options[Message_Manufacturer.selectedIndex].value;
            $('.Models').hide();
            $('.Model' + ClassName ).show();
        }
    </script>

{% endblock %}






