{% extends 'UserLogedin.html.twig' %}

        {% block title %}IZEW - {{ Title }}{% endblock %}


        {% block stylesheets %}
            {{ encore_entry_link_tags('DataTables') }}


            {{ parent() }}
        {% endblock %}

        {% block body %}
            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Reserveringen door jou geplaatst</strong>
                        </div>
                        <div class="card-body">
                            <!-- Credit Card -->

                            <div style="padding:1em;overflow-x: scroll;">
                                <div class="card-title">
                                    <h3 class="text-center">Jouw Reserveringen</h3>
                                </div>
                                <hr>
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>tijd</th>
                                        <th>baan</th>
                                        <th>Speler</th>
                                        <th>hoeveelheid</th>
                                        <th>Speeltijd</th>
                                        <th>Verwijderen</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for CourtReservation in CourtReservations|sort %}
                                        {% if date(CourtReservation.StartTime) > date() %}
                                            <tr>
                                                <td>{{ CourtReservation.StartTime|date('d-m-Y H:i:s') }}</td>
                                                <td>{{ CourtReservation.Court }}</td>
                                                <td>{% if CourtReservation.Player.Firstname is defined %}{{ CourtReservation.Player.Firstname }} {% endif %} {% if CourtReservation.Player.Lastname is defined %}{{ CourtReservation.Player.Lastname }}{% endif %}</td>
                                                <td>{{ CourtReservation.Players }}</td>
                                                <td>je hebt recht op:
                                                    <span class="badge badge-light">
                                                        1 uur
                                                    </span>
                                                    speel tijd
                                                </td>
                                                <td><a class="btn btn-danger" href="{{ path('PlayerDeleteReservation',{time:CourtReservation.StartTime|date('U'),Court:CourtReservation.Court}) }}">verwijder</a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
{% block modals %}
    <div class="modal fade" id="DeleteCerification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    If you click delete the object will be permanently be deleted.

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" id="modal-link" href="">Delete <span class="fas fa-times-circle"></span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

            {% block javascripts %}
                {{ parent() }}
                <script type="text/javascript">
                    var dt = new Date();
                    var day = dt.getDay();
                    dt.getDay();
                    const monthNames = ["januari", "februari", "maart", "april", "mei", "juni",
                        "juli", "August", "september", "oktober", "november", "december"
                    ];

                    document.getElementById('monthYear').innerHTML = monthNames[dt.getMonth()] +" "+ dt.getFullYear();

                    for (i = 1; i < 8; i++) {
                        switch (day) {
                            case 0:
                                document.getElementById('Day' + i).innerHTML = "zo";
                                break;
                            case 1:
                                document.getElementById('Day' + i).innerHTML = "ma";
                                break;
                            case 2:
                                document.getElementById('Day' + i).innerHTML = "di";
                                break;
                            case 3:
                                document.getElementById('Day' + i).innerHTML = "wo";
                                break;
                            case 4:
                                document.getElementById('Day' + i).innerHTML = "do";
                                break;
                            case 5:
                                document.getElementById('Day' + i).innerHTML = "vr";
                                break;
                            case 6:
                                document.getElementById('Day' + i).innerHTML = "za";
                                break;
                        }
                        if (day === 6) {
                            day = 0;
                        } else {
                            day++;
                        }
                    }
                    dt.getFullYear();
                    dt.getDate();
                </script>



                {{ encore_entry_script_tags('DataTables') }}
                <script>
                    $('[data-toggle="modal"]').on('click', function (e) {
                        // convert target (e.g. the button) to jquery object
                        var $target = $(e.target);

                        // modal targeted by the button
                        var modalSelector = $target.data('target');
                        // retrieve the dom element corresponding to current attribute
                        var $modalAttribute = $(modalSelector + ' #modal-link');
                        var dataValue = $target.data('link');
                        $modalAttribute.attr('href', dataValue);
                    });

                </script>
            {% endblock %}

