{% extends 'UserLogedin.html.twig' %}

{% block title %} IZEW - DASHBOARD{% endblock %}


{% block body %}

    <div class="row w-100">
        <div class="card w-100" style="overflow-x: scroll; padding: 50px;">
            <h3 id="monthYear">

            </h3>
            <div class="span12">
                <table class="table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Tijd</th>
                        {% for c in 1..10 %}
                        <th>baan {{ c }}</th>
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>
                    {% set Previousdate = 0 %}
                    {% set PreviousTime = 0 %}
                    {% for t in times %}
                    <tr>
                        <th> {{ t }}</th>
                        {% for c in 1..10 %}
                            <td>
                                {% set stringdate = ChosenDate~" "~t~":00" %}
                                {% set date = stringdate|date('U') %}
                                {% if date~c in allReservations %}
                                    <a href="{{ path('check_Court',{time:date,Court:c}) }}" class="btn btn-danger">bezet</a> <a href="{{ path('DeleteRegisterGame',{time:date,Court:c}) }}" class="btn btn-danger">Verwijderen</a>
                                {% elseif Previousdate~c in allReservations %}
                                   <a href="#" class="btn btn-danger">bezet</a>
                                {% else %}
                                    <a class="btn
                                    {% if date()|date_modify("+7 day") < date(stringdate) or date(stringdate)|date_modify("+30 minute")|date('U')~c in allReservations or date(stringdate) < date()|date_modify("+2 hour") or  (date(ChosenDate~sundown) < date(stringdate) and (c==2 or c==3 or c==4 or c==7 or c==8 or c==9)) %}
                                        disabled
                                    {% endif %}"
                                       href="{{ path('adminRegisterGame',{time:date,Court:c}) }}">

                                        kies</a>
                                {% endif %}
                            </td>
                            {% set PreviousTime = ChosenDate~" "~t~":00" %}
                        {% endfor %}
                    </tr>
                        {% set Previousdate = PreviousTime|date('U') %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    </script>
{% endblock %}
