{% extends 'base.html.twig' %}

{% block title %}INFINITY, BEYOND PERFECTION{% endblock %}

{% block stylesheets %}
    <style>
        .image{
            background-color: rgba(0,0,0,0.6) !important;
        }
        .image h2{
            position: absolute;
            left: 45px;
            bottom: 50px;
            font-size: 36px;
            font-weight: 700;
            color: #ffffff;
            line-height: 46px;
        }
    </style>
{% endblock %}

{% block topslideshow %}
    <!-- .preloader -->
    <div class="bg-dark preloader">
        <center>
            <img style="margin-top: 400px;height:400px;" src="{{  asset('images/logo.jpg')}}"/>
        </center>
    </div>
    <!-- /.preloader -->

    <!--Main Slider-->
    <section class="main-slider style-two">
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_two_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_two" data-version="5.4.1">
                <ul>
                    <li data-index="rs-11" data-transition="slotzoom-horizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-delay="9000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                       <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ asset('images/main-slider/slider-1.jpg') }}">
                       <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-basealign="slide" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":100,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power3.easeInOut"}]' data-height="full" data-hoffset="['0','0','0','0']" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']" data-type="shape" data-voffset="['0','0','0','0']" data-whitespace="normal" data-width="full" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" id="slide-1687-layer-1" style="z-index: 1;border-width:0px;">
                       </div>


                        <div class="tp-caption"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="100%"
                             data-width="['650','650','650','450']"
                             data-whitespace="normal"
                             data-hoffset="['-530','15','15','15']"
                             data-voffset="['-200','-70','-50','-50']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"3000","split":"chars","speed":5000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="rotate-text">INFINITY, BEYOND PERFECTION</span>
                        </div>
                        <div class="tp-caption tp-resizeme centred"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="image"
                             data-height="900"
                             data-whitespace="normal"
                             data-width="800"
                             data-hoffset="['200','400','0','0']"
                             data-voffset="['400','300','0','0']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                        <img data-bgrepeat="no-repeat" data-no-retina="" src="{{ asset('images/logo.jpg')}}"/>
                        </div>
                    </li>
                    <li data-index="rs-10" data-transition="slotzoom-horizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-delay="9000" data-rotate="0" data-saveperformance="off" class="rev-slidebg" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ asset('images/main-slider/slider-4.jpg') }}">

                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-basealign="slide" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":100,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power3.easeInOut"}]' data-height="full" data-hoffset="['0','0','0','0']" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']" data-type="shape" data-voffset="['0','0','0','0']" data-whitespace="normal" data-width="full" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" id="slide-1687-layer-1" style="z-index: 1;background-color:rgba(31, 31, 31, 0.75);border-color:rgba(31, 31, 31, 0.75);border-width:0px;">
                        </div>

                        <div class="tp-caption"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="100%"
                             data-width="['650','650','650','450']"
                             data-whitespace="normal"
                             data-hoffset="['-530','15','15','15']"
                             data-voffset="['-200','-70','-50','-50']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"3000","split":"chars","speed":5000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="rotate-text">INFINITY, BEYOND PERFECTION</span>
                        </div>

                        <div class="tp-caption tp-resizeme centred"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="normal"
                             data-width="['650','650','650','450']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['-38','-38','-38','0']"
                             data-x="['middle','middle','middle','middle']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h1>Uniqu<span>e</span></h1>
                        </div>


                        <div class="tp-caption tp-resizeme centred"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="normal"
                             data-width="['650','650','650','450']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['73','73','73','73']"
                             data-x="['middle','middle','middle','middle']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h2>In making the perfect Patern</h2>
                        </div>

                    </li>
                    <li data-index="rs-15" data-transition="slotzoom-horizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="1000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ asset('images/main-slider/slider-2.jpg')}}">

                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-basealign="slide" data-frames='[{"from":"opacity:0;","speed":1500,"to":"o:1;","delay":100,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power3.easeInOut"}]' data-height="full" data-hoffset="['0','0','0','0']" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-textalign="['left','left','left','left']" data-type="shape" data-voffset="['0','0','0','0']" data-whitespace="normal" data-width="full" data-x="['center','center','center','center']" data-y="['middle','middle','middle','middle']" id="slide-1687-layer-1" style="z-index: 1;background-color:rgba(31, 31, 31, 0.75);border-color:rgba(31, 31, 31, 0.75);border-width:0px;">
                        </div>

                        <div class="tp-caption"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="100%"
                             data-width="['650','650','650','450']"
                             data-whitespace="normal"
                             data-hoffset="['-530','15','15','15']"
                             data-voffset="['-200','-70','-50','-50']"
                             data-x="['left','left','left','left']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":2000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"3000","split":"chars","speed":5000,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="rotate-text">INFINITY, BEYOND PERFECTION</span>
                        </div>

                        <div class="tp-caption tp-resizeme centred"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="normal"
                             data-width="['650','650','650','450']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['-38','-38','-38','0']"
                             data-x="['middle','middle','middle','middle']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h1>SPECIA<span>L</span></h1>
                        </div>


                        <div class="tp-caption tp-resizeme centred"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingtop="[0,0,0,0]"
                             data-responsive_offset="on"
                             data-type="text"
                             data-height="none"
                             data-whitespace="normal"
                             data-width="['650','650','650','450']"
                             data-hoffset="['15','15','15','15']"
                             data-voffset="['73','73','73','73']"
                             data-x="['middle','middle','middle','middle']"
                             data-y="['middle','middle','middle','middle']"
                             data-textalign="['top','top','top','top']"
                             data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h2>hand finished solid Patina</h2>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
        <!--Scroll Dwwn Btn-->
        <div class="mouse-btn-down scroll-to-target" data-target=".about-style-two">
            <div class="scroll-arrow-box">
                <span class="scroll-arrow"></span>
            </div>
            <div class="scroll-btn-flip-box">
                <span class="scroll-btn-flip" data-text="Scroll">Scroll</span>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
{% endblock %}



{% block body %}


    <!-- about-style-two -->
    <section class="about-style-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="wow animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image line-overlay">
                            <span class="line active"></span>
                            <span class="line line-bottom active"></span>
                            <img src="{{ asset('images/resource/home-object-1.jpg') }}" alt="">
                            <h2>50 Years<br />Experience</h2>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box wow slideInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <span class="top-title">About our company</span>
                        <div class="sec-title">
                            <h1>The art of <span>pure craftmanship</span></h1>
                        </div>
                        <div class="text">
                            Onze passie voor houten vloeren begint al bij de bron.
                            Alleen het mooiste hout doorstaat onze strenge selectie.
                            Uiterst vakkundig gelegd door van onze ervaren parketleggers. En in elk denkbaar patroon.
                            Het resultaat: Een vloer waar je eindeloos van geniet.
                        </div>
                        <div class="link"><a href="#">Ondek hoe wij het doen</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-two end -->

    <!-- work-style-two -->
    <section class="work-style-two" style="height:1000px;background:url('{{ asset('images/background/background-3.jpg') }}');   background-repeat: no-repeat;
            background-size: cover;">
        <div class="container">
            <div style="position : absolute;
bottom   : 0;" class="slideInDown animated animated wow text-light sec-title centred">
                <h1 class="text-light">Wat maakt het hout van <span>Infinity</span> zo bijzonder?</h1>
                <p class="text-light" style="font-size: 1.5em; ">
                    We kennen onze leveranciers al heel lang.
                    Soms al meer dan 50 jaar.
                    Zodoende weten we precies wat we van elkaar kunnen verwachten
                    en houden we controle over hele keten en kunnen we de hoge kwaliteit waarborgen.
                </p>
                <br>
                <p class="text-light" style="font-size: 1.5em; ">
                    Al ons hout wordt zorgvuldig met de hand geselecteerd.
                    Vervolgens op traditionele wijze voorbehandeld of gezaagd.
                    We kijken naar de kleur, knoesten, patronen… Zo zorgen we voor authentieke vloeren van constante kwaliteit. Puur, duurzaam en werkelijk een lust voor het oog.
                </p>
            </div>
        </div>
    </section>
    <!-- work-style-two end -->

    <!-- service-style-two -->
    <section class="service-style-two gray-bg">
        <div class="icon-layer wow zoomIn animated"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 inner-column">
                    <div class="slideInLeft wow inner-content">
                        <div class="sec-title">
                            <h1>Stap voor stap <span> naar de juiste vloer.</span></h1>
                        </div>
                        <div class="text">
                            <p> </p>
                            <p>
                                Het bepalen van de juiste vloer is een proces waar we graag bij helpen.
                                De eerste stap is de beslissing welke houtsoort het best past.
                            </p>
                            <p>
                                We kijken hierbij naar zowel stijl als functionaliteit.
                                Wordt het een vloer uit het prachtige assortiment vers gezaagd hardhout?
                            </p>
                            <p>
                                Of misschien speelse variëteit van de teruggewonnen antiek houtcollectie?
                            </p>
                            <br>
                            <p>
                                De volgende stap is het definiëren van uw favoriete ‘gradering’.
                                Past een meer uniforme en heldere structuur in het plaatje?
                            </p>
                            <p>
                                Of een mag het wat rustieker waarbij het hout een prominentere rol mag spelen in het project?</p>
                            <p>We adviseren je met plezier, maar de keuze is natuurlijk aan jou.</p>
                            <div class="link"><a href="#">All Services</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <figure class="image line-overlay">
                            <span class="line active"></span>
                            <span class="line line-bottom active"></span>
                            <img src="{{ asset('images/resource/about-3.jpg') }}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-style-two end -->

    <!-- work-section -->
    <section class="work-section work-tab">
        <div class="container">
            <div class="slideInLeft wow sec-title centred">
                <span class="top-title">specialization</span>
                <h1> Modern maar altijd <span>tijdloos</span></h1>
                <p>

                    Bijzondere patina’s versterken de puur natuurlijke structuur van het hout en sluiten perfect aan bij de allerlaatste trends in design en architectuur. Want een mooie houten vloer is van alle tijden.


                </p>
                <p>
                    Geselecteerd van de allermooiste delen van soms wel eeuwenoude bomen.
                </p>
            </div>
            <div class="content-box slideInRight">
                <div class="row">
                    <div class="FadeIn wow col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="inner-content">
                            <div class="tab-btns centred">
                                <ul class="product-tab-btns project-btn post-filter">
                                    <li class="p-tab-btn active-btn" data-tab="#p-tab-1">Bomen Selectie</li>
                                    <li class="p-tab-btn" data-tab="#p-tab-2">Zagerij</li>
                                    <li class="p-tab-btn" data-tab="#p-tab-3">Selectie</li>
                                    <li class="p-tab-btn" data-tab="#p-tab-4">Duurzaamheid</li>
                                </ul>
                            </div>
                            <div class="p-tabs-content">
                                <div class="p-tab active-tab" id="p-tab-1">
                                    <div class=" owl-theme nav-style-one">
                                        <div class="single-item">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                                    <div class="tab-content">
                                                        <div class="top-content">
                                                            <div class="count-text"><i></i></div>
                                                            <div class="icon-box"><i class="flaticon-interior"></i></div>
                                                        </div>
                                                        <div class="lower-content">
                                                            <h2><a href="#">Bomen Selectie</a></h2>
                                                            <div class="text">
                                                                De ene boom is echt het andere niet. De basis van iedere superieure houten vloer, begint daarom met het vinden van de juiste volwassen bomen. Belangrijk: Ze moeten aan het einde van hun groeicyclus zijn. Dit zorgt voor mooi en stabiel hout.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                                    <figure class="image-box line-overlay">
                                                        <span class="line"></span>
                                                        <span class="line line-bottom"></span>
                                                        <img src="{{ asset('images/resource/work-1.jpg') }}" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-tab" id="p-tab-2">
                                    <div class="nav-style-one">
                                        <div class="single-item">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                                    <div class="tab-content">
                                                        <div class="top-content">
                                                            <div class="count-text">02</div>
                                                            <div class="icon-box"><i class="flaticon-interior"></i></div>
                                                        </div>
                                                        <div class="lower-content">
                                                            <h2><a href="#">De Zagerij</a></h2>
                                                            <div class="text">
                                                                Hiervoor hebben we een door de jaren zorgvuldig opgebouwd netwerk van leveranciers, traditionele zagerijen en landeigenaren die de principes van duurzame bosbouw aanhouden.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                                    <figure class="image-box line-overlay">
                                                        <span class="line"></span>
                                                        <span class="line line-bottom"></span>
                                                        <img src="{{ asset('images/resource/work-2.jpg') }}" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-tab" id="p-tab-3">
                                    <div class="nav-style-one">
                                        <div class="single-item">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                                    <div class="tab-content">
                                                        <div class="top-content">
                                                            <div class="count-text">03</div>
                                                            <div class="icon-box"><i class="flaticon-interior"></i></div>
                                                        </div>
                                                        <div class="lower-content">
                                                            <h2><a href="#">Selectie</a></h2>
                                                            <div class="text">
                                                                Van eik, grenen tot walnoot: We halen alleen de mooiste delen eruit. Hiervoor gebruiken we alleen het gezonde onderste deel van de boom. Alleen als het dicht, uniform en stabiel genoeg is, komt door de strenge selectie van Infinity.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                                    <figure class="image-box line-overlay">
                                                        <span class="line"></span>
                                                        <span class="line line-bottom"></span>
                                                        <img src="{{ asset('images/resource/work-3.jpg') }}" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-tab" id="p-tab-4">
                                    <div class="nav-style-one">
                                        <div class="single-item">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                                                    <div class="tab-content">
                                                        <div class="top-content">
                                                            <div class="count-text">04</div>
                                                            <div class="icon-box"><i class="flaticon-interior"></i></div>
                                                        </div>
                                                        <div class="lower-content">
                                                            <h2><a href="#">Duurzaamheid</a></h2>
                                                            <div class="text">
                                                                Echt handwerk, dus wat de nodige kennis en ervaring vereist.
                                                                De resterende delen van het hout worden op duurzame wijze gebruikt voor andere toepassingen.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                                    <figure class="image-box line-overlay">
                                                        <span class="line"></span>
                                                        <span class="line line-bottom"></span>
                                                        <img src="{{ asset('images/resource/work-4.jpg') }}" alt="">
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- work-section end -->


    <!-- video-section -->
    <section class="centred wow animated slideInUp" style="
            line-height: 50px;
            padding: 20%;
            font-size: 30px;
            position: relative;
            display: block;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-image: url({{ asset('images/background/Sizes-background.png') }});">
        <div class="container">
            <div class="inner-content">
                <span class="top-title text-light">specialization</span>
                <h1 style="
            font-size: 50px;" class="text-light header">Planken van <span>spectaculair</span> formaat</h1>
                <p class="text-light">
                    Extra lang.
                    Extra breed.
                    We hebben het.
                </p>
                <p class="text-light">
                    Geselecteerd van de allermooiste delen van soms wel eeuwenoude bomen.
                </p>
            </div>
        </div>
    </section>
    <!-- video-section end -->


    <!-- testimonial-section -->
    <section class="testimonial-section alternate-2">
        <div class="container">
            <div class="sec-title">
                <h1>Voor écht <span>maatwerk</span></h1>
            </div>
            <div class="owl-theme">
                <div class="testimonial-block-one row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="text">
                        <p>

                            Onze klanten komen niet alleen voor het mooiste hout. Bij Infinity maken we ook het verschil door mee te denken. We helpen je bij de keuze van het juiste hout, zoeken samen een passend patroon en bespreken de beste afwerkingsopties. Zo komen we tot een unieke vloer die perfect aansluit bij jouw project.
                        </p>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <figure class="image-box line-overlay">
                        <span class="line"></span>
                        <span class="line line-bottom"></span>
                        <img src="{{ asset('images/resource/maatwerk.png') }}" alt="">
                    </figure>
                </div>
                </div>
            </div>

        </div>
    </section>
    <!-- testimonial-section end -->


    <!-- video-section -->
    <section class="centred wow animated slideInUp" style="
            line-height: 50px;
            padding: 20%;
            font-size: 30px;
            position: relative;
            display: block;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-image: url({{ asset('images/background/Sizes-background.png') }});">
        <div class="container">
            <div class="inner-content">
                <h1 style="
            font-size: 50px;" class="text-light header">Binnenste<span>buiten</span> </h1>
                <p class="text-light">
                    Met een mooi doorlopende houten vloer, haal je buiten naar binnen. Een bijzondere beleving die een extra dimensie geeft.
                </p>
            </div>
        </div>
    </section>
    <!-- video-section end -->
{% endblock %}

{% block javascripts %}

<!--Revolution Slider-->
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/revolution.extension.actions.min.js"></script>
<script src="revolution/js/revolution.extension.carousel.min.js"></script>
<script src="revolution/js/revolution.extension.kenburn.min.js"></script>
<script src="revolution/js/revolution.extension.layeranimation.min.js"></script>
<script src="revolution/js/revolution.extension.migration.min.js"></script>
<script src="revolution/js/revolution.extension.navigation.min.js"></script>
<script src="revolution/js/revolution.extension.parallax.min.js"></script>
<script src="revolution/js/revolution.extension.slideanims.min.js"></script>
<script src="revolution/js/revolution.extension.video.min.js"></script>
<script src="js/main-slider-script.js"></script>

{% endblock %}
