{% extends 'UserLogedin.html.twig' %}

{% block title %} IZEW - DASHBOARD{% endblock %}


{% block body %}
    {% for message in Messages %}
        <div class="alert alert-{{ message.color }}">
            {% autoescape %}
                {{ message.message | raw }}
            {% endautoescape %}
        </div>
    {% endfor %}
    {% if app.user.ProfileImage is null %}
        <div class="alert alert-danger">
            <strong>Zonder profiel foto word u niet geactiveerd!</strong> voeg uw profiel foto <a class="badge badge-important" href="{{ path('accountSettings') }}">hier</a> toe.
        </div>
    {% endif %}
    {% if app.user.Firstname is null or app.user.Lastname is null %}
        <div class="alert alert-danger">
            <strong>Configureer uw profiel!</strong> vul uw voor en achternaam in om verder te gaan. <a
                    class="badge badge-important" href="{{ path('accountSettings') }}">dat kan u hier</a>
        </div>
    {% endif %}
    {% if app.user.ActivateUser is null or app.user.ActivateUser == 0 %}
        <div class="alert alert-danger">
            <strong>Je bent nog niet geactiveerd!</strong> Wacht totdat je geactiveerd wordt. Mocht het te lang duren neem dan contact op met info@zonenwind.nl
        </div>
    {% endif %}
    <div class="row w-100">
        <div class="card w-100" style="overflow-x: scroll; padding: 50px;">

            <h3 id="monthYear">

            </h3>
            <div class="span12">
                <table id="table1" class="table-condensed table-bordered table-striped">
                    <thead>
                    <tr>
                        <td><b><span id="Day1"></span></b></td>
                        <td><b><span id="Day2"></span></b></td>
                        <td><b><span id="Day3"></span></b></td>
                        <td><b><span id="Day4"></span></b></td>
                        <td><b><span id="Day5"></span></b></td>
                        <td><b><span id="Day6"></span></b></td>
                        <td><b><span id="Day7"></span></b></td>
                        <td><b><span id="Day8"></span></b></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    <tr>
                        <td>{{ "now"|date("d/m/Y") }}</td>
                        {% for i in 1..7 %}
                            {% set date = '+'~i ~ ' day' %}
                            <td>{{ "now"|date_modify(date)|date("d/m/Y") }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td><a class="btn
                            {% if app.user.ActivateUser is null or app.user.ActivateUser == 0 %}
                                   disabled
                                {% endif %}
                            " href="{{ path('CourtReservation',{date:"now"|date("d-m-Y")}) }}">kies</a></td>
                        {% for i in 1..7 %}
                            {% set date = '+'~i ~ ' day' %}
                            <td><a class="btn
                                {% if app.user.ActivateUser is null or app.user.ActivateUser == 0 %}
                                   disabled
                                {% endif %}" href="{{ path('CourtReservation',{date:"now"|date_modify(date)|date("Y-m-d")}) }}">
                                    kies</a></td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                <h4>Reglement Baan Reserveren:</h4>
                <ol>
                    <li>U kunt één uur spelen per reservering.</li>
                    <li>U kunt alleen reserveren of toegevoegd worden aan een reservering wanneer u spelend lid bent met een actief account.</li>
                    <li>Spreek af met je tennisgroep wie de reservering maakt en u dient toestemming van elke speler te hebben die u toevoegt.</li>
                    <li>U kunt niet in aansluitende uren reserveren, hiervoor zit een blokkade in het systeem.</li>
                    <li>Met andere spelers op de baan staan dan in het reserveersysteem staan is niet toegestaan.  Bij wijzigingen belt u het clubhuis.</li>
                    <li>Onze medewerkers houden ook toezicht en zijn beschikbaar voor alle vragen over afhangen en spelen.</li>
                    <li>
                        Spelers die gaan tennissen zonder actief account zullen worden verzocht de baan en het park te verlaten.
                    </li>
                    <li>
                        Bij onbespeelbare banen, langer doorspelen en andere vragen gaat u naar het clubhuis. De in Zon en Wind medewerkers bepalen de indeling en verdeling van de beschikbare banen.
                     </li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $( document ).ready(function() {
            fillCurrentYearMonth();
            fillDaysOfWeek();
            swapTable();
            $( window ).resize(function() {swapTable()});
        });
        function fillCurrentYearMonth(){
            var dt = new Date();
            var day = dt.getDay();
            dt.getDay();
            const monthNames = ["januari", "februari", "maart", "april", "mei", "juni",
                "juli", "August", "september", "oktober", "november", "december"
            ];
            document.getElementById('monthYear').innerHTML = monthNames[dt.getMonth()] + " " + dt.getFullYear();
        }
        function fillDaysOfWeek() {
            var dt = new Date();
            var day = dt.getDay();

            for (i = 1; i <= 8; i++) {
                switch (day) {
                    case 0:
                        document.getElementById('Day' + i).innerHTML = "zo";
                        break;
                    case 1:
                        document.getElementById('Day' + i).innerHTML = "ma";
                        break;
                    case 2:
                        document.getElementById('Day' + i).innerHTML = "di";
                        break;
                    case 3:
                        document.getElementById('Day' + i).innerHTML = "wo";
                        break;
                    case 4:
                        document.getElementById('Day' + i).innerHTML = "do";
                        break;
                    case 5:
                        document.getElementById('Day' + i).innerHTML = "vr";
                        break;
                    case 6:
                        document.getElementById('Day' + i).innerHTML = "za";
                        break;
                }
                if (day === 6) {
                    day = 0;
                } else {
                    day++;
                }
            }
        }
        function swapTable() {
            var collunmCount =document.getElementById('table1').rows[0].cells.length;
            if ((window.innerWidth < 600 && collunmCount === 8) || (window.innerWidth > 600 && collunmCount === 3)) {
                $(".table-condensed").each(function () {
                    var $this = $(this);
                    var newrows = [];
                    $this.find("tr").each(function () {
                        var i = 0;
                        $(this).find("td").each(function () {
                            i++;
                            if (newrows[i] === undefined) {
                                newrows[i] = $("<tr></tr>");
                            }
                            newrows[i].append($(this));
                        });
                    });
                    $this.find("tr").remove();
                    $.each(newrows, function () {
                        $this.append(this);
                    });
                });
            }
        }
    </script>
{% endblock %}
