{% extends 'loginbase.html.twig' %}

{% block title %}IZEW - Login!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body{
            background-image: url("{{ asset('images/') }}{{ imgnumber }}.jpg");
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;

        }
        h2{
            color: rgba(24, 33, 37, 0.84);
        }

    </style>
{% endblock %}

{% block body %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2> <a class="" href="{{ path("app_login") }}">Login </a></h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <h1><img src="{{ asset('images/logo.png') }}" id="icon" style="width:100px;height:100px;object-fit: cover;" /></h1>
            </div>
        {% if data == "codeCheck" %}
            <h1>Controleer uw mail.</h1>
            <h2>
                <p>U heeft een code van ons ontvangen van 6 getallen.</p>
                <p> U dient dat nummer hieronder in te vullen.</p>
            </h2>
            <form action="" method="POST">
                <input type="number" id="code" class="login code fadeIn second" name="code" placeholder="voer uw code in..." >
                <input type="hidden" name="_email" value="{{ email }}">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn fadeIn fourth">verifieer</button>
            </form>

        {% elseif data == "codeAlreadyExists" %}
            <h1>Controleer uw mail.</h1>
            <h2>
                <p>U heeft een code van ons ontvangen van 6 getallen.</p>
                <p> U dient dat nummer hieronder in te vullen.</p>
            </h2>
            <p class="alert alert-danger">
                <span class="badge badge-danger">
                    error
                </span>
                U heeft al een code aangevraagd, kijk in uw spam folder u kunt 24 uur na de aanvraag het weer proberen.
            </p>
            <form action="" method="POST">
                <input type="number" id="code" class="login code fadeIn second" name="code" placeholder="voer uw code in..." >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_email" value="{{ email }}">
                <button type="submit" class="btn fadeIn fourth">verifieer</button>
            </form>
        {% elseif data == "codeIncorrectCheck" %}
            <h1>Controleer uw mail.</h1>
            <h2>
                <p>U heeft een code van ons ontvangen van 6 getallen.</p>
                <p> U dient dat nummer hieronder in te vullen.</p>
            </h2>
            <p class="alert alert-danger">
                <span class="badge badge-danger">
                    error
                </span>
                Code is incorrect! Controlleer voor een andere 6 cijferige code.
            </p>
            <form action="" method="POST">
                <input type="number" id="code" class="login code fadeIn second" name="code" placeholder="voer uw code in..." >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="_email" value="{{ email }}">
                <button type="submit" class="btn fadeIn fourth">verifieer</button>
            </form>
        {% elseif data == "NoAccount" %}

            {{ form_start(passforgot) }}
            {{ form_widget(passforgot) }}
            {{ form_end(passforgot) }}
        {% endif  %}


        </div>
    </div>
{% endblock %}
