{% extends 'loginbase.html.twig' %}

{% block title %}IZEW - Login!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body{
            background-image: url("images/{{ imgnumber }}.jpg");
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Log in </h2>
            <h2> <a class="" href="{{ path("app_Register") }}"> Registreer </a></h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <h1><img src="{{ asset('images/logo.jpg') }}" id="icon" style="width:100px;height:100px;object-fit: cover;" /></h1>
            </div>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <!-- Login Form -->
            <form action="{{ path('app_login') }}" method="POST">
                <input type="text" id="login" class="login fadeIn second" name="_username" placeholder="Gebruikersnaam" value="{{ last_username }}">
                <input type="password" id="password" class="login fadeIn third" name="_password" placeholder="Wachtwoord">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3 fadeIn third">
                    <label>
                        <input type="checkbox" name="_remember_me"> Onthoud mij
                    </label>
                </div>
                <button type="submit" class="btn fadeIn fourth">Login</button>
            </form>

            <!-- Remind Password -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Wachtwoord vergeten?(werkt nog niet)</a>
            </div>

        </div>
    </div>
{% endblock %}
