{% extends 'UserLogedin.html.twig' %}

{% block title %} IZEW - DASHBOARD{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    #court_reservation_Court{
        height:200px;
    }
    .custom-combobox {
        position: relative;
        display: inline-block;

    }
    .custom-combobox-toggle {
        height: 44px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }
    form label{
    font-size:20px;
    }
    form label[for*="reservation_admin_addedText"]{
        color: black;
    }
    .custom-combobox-input {
        width: auto !important;
        margin: 0;
        padding: 5px 10px;
    }
    select{
        display: inline;
    }
    .ui-datepicker .ui-datepicker-header {
        background-color: #10783D;
    }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.js-datepicker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                yearRange:  "+0:+100",
                dateFormat: 'yy-mm-dd'
            }).val();
            $('.timepicker').timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                minTime: '8',
                maxTime: '23:00pm',
                startTime: '8:30',
                dynamic: true,
                dropdown: true,
                scrollbar: true
            }).val();
        });

        </script>
{% endblock %}

{% block body %}

     <div class="row w-100">
        <div class="card w-100" style="overflow-x: scroll; padding: 50px;">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center">Verwijder reserveringen</h3>
                </div>
                <hr>
                {{ form_start(CourtReservation) }}
                <div class="row">
                    <div class="col">
                        <div class="ui-widget">
                        {{ form_widget(CourtReservation) }}
                        </div>
                    </div>
                </div>
                {{ form_end(CourtReservation) }}
            </div>
        </div>
    </div>
    <div class="row w-100">
        <div class="card p-0 col-sm-3" style="overflow-x: scroll; padding: 50px;">
            <div class="card-body p-0">
                <div class="card-title">
                    <h3 class="text-center">Soorten Legenda</h3>
                </div>
                <hr>
                <ol class="list-group">
                    <li class="list-group-item"><h2 style="font-size: 30px;">1. Les</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#0d95e8;"></div></li>
                    <li class="list-group-item"><h2 style="font-size: 30px;">2. Toss</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#05c5e2;"></div></li>
                    <li class="list-group-item"><h2 style="font-size: 30px;">3. Competitie</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#ece109;"></div></li>
                    <li class="list-group-item"><h2 style="font-size: 30px;">4. Event</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#0d23e8;"></div></li>
                    <li class="list-group-item"><h2 style="font-size: 30px;">5. Verhuur</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#ff790f;"></div></li>
                    <li class="list-group-item"><h2 style="font-size: 30px;">6. Introduce</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#880ba7;"></div></li>
                    <li class="list-group-item"><h2 style="font-size: 30px;">7. Tennis Kamp</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#0de823;"></div></li>
                    <li class="list-group-item"><h2 style="font-size: 30px;">8. Overig</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#727274;"></div></li>
                    <li class="list-group-item"><h2 style="font-size: 30px;">9. reservering</h2> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#e70808;"></div></li>
                </ol>
            </div>
        </div>
        <div class="card col-sm-9" style="overflow-x: scroll; padding: 50px;">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center">Calender</h3>
                </div>
                <hr>
                <h3 id="monthYear">

                </h3>
                <div class="span12">
                    <table class="table-condensed table-bordered table-striped">
                        <thead>
                        <tr>
                            <th><span id="Day1"></span></th>
                            <th><span id="Day2"></span></th>
                            <th><span id="Day3"></span></th>
                            <th><span id="Day4"></span></th>
                            <th><span id="Day5"></span></th>
                            <th><span id="Day6"></span></th>
                            <th><span id="Day7"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set day = 0 %}
                        {% set dayButton = 0 %}
                        {% for i in 0..4 %}
                            <tr>
                                {% for i in 0..6 %}
                                    {% set date = '+'~day ~ ' day' %}
                                    <td>{{ "now"|date_modify(date)|date("d/m/Y") }}</td>
                                    {% set day = day+1 %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for i in 0..6 %}
                                    {% set date = '+'~dayButton ~ ' day' %}
                                    <td><a class="btn
                                {% if app.user.ActivateUser is null or app.user.ActivateUser == 0 %}
                                   disabled
                                {% endif %}" href="{{ path('CourtPlayersReservationAdmin',{date:"now"|date_modify(date)|date("Y-m-d")}) }}">
                                            kies
                                        </a>
                                    </td>
                                    {% set dayButton = dayButton+1 %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

            {% block javascripts %}
                {{ parent() }}
                <script type="text/javascript">
                    var dt = new Date();
                    var day = dt.getDay();
                    dt.getDay();
                    const monthNames = ["januari", "februari", "maart", "april", "mei", "juni",
                        "juli", "August", "september", "oktober", "november", "december"
                    ];

                    document.getElementById('monthYear').innerHTML = monthNames[dt.getMonth()] +" "+ dt.getFullYear();

                    for (i = 1; i < 8; i++) {
                        switch (day) {
                            case 0:
                                document.getElementById('Day' + i).innerHTML = "zo";
                                break;
                            case 1:
                                document.getElementById('Day' + i).innerHTML = "ma";
                                break;
                            case 2:
                                document.getElementById('Day' + i).innerHTML = "di";
                                break;
                            case 3:
                                document.getElementById('Day' + i).innerHTML = "wo";
                                break;
                            case 4:
                                document.getElementById('Day' + i).innerHTML = "do";
                                break;
                            case 5:
                                document.getElementById('Day' + i).innerHTML = "vr";
                                break;
                            case 6:
                                document.getElementById('Day' + i).innerHTML = "za";
                                break;
                        }
                        if (day === 6) {
                            day = 0;
                        } else {
                            day++;
                        }
                    }
                    dt.getFullYear();
                    dt.getDate();
                </script>
            {% endblock %}