{% extends 'UserLogedin.html.twig' %}

{% block title %} IZEW - DASHBOARD{% endblock %}
{%  block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .custom-combobox {
            position: relative;
            display: inline-block;

        }
        .custom-combobox-toggle {
            height: 44px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            padding: 0;
        }
        form label{
            font-size:20px;
        }
        form label[for*="reservation_admin_addedText"]{
            color: black;
        }
        .custom-combobox-input {
            width: auto !important;
            margin: 0;
            padding: 5px 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $( document ).ready( function() {
            $('#reservation_admin_ReservationType').on('click',function(){

                if ($("input#reservation_admin_ReservationType").prop("checked")) {
                    $('#reservation_admin_MemoText').removeClass('d-none');
                    $('.verhuurLabel').removeClass('d-none');
                    $('#reservation_admin_Players').removeClass('d-none');
                    $('#reservation_admin_MemoTextIntroduce').addClass('d-none');
                    $('.IntroduceLabel').addClass('d-none');
                    $('#reservation_admin_PlayersIntroduce').addClass('d-none');
                    $("input#reservation_admin_introduce").prop("checked", false);
                    $("#reservation_admin_Players").prop('required',true);
                    $("#reservation_admin_MemoText").prop('required',true);
                    $("#reservation_admin_MemoTextIntroduce").prop('required',false);
                    $("#reservation_admin_PlayersIntroduce").prop('required',false);
                }else{
                    $('#reservation_admin_MemoText').addClass('d-none');
                    $('.verhuurLabel').addClass('d-none');
                    $('#reservation_admin_Players').addClass('d-none');

                    $("#reservation_admin_Players").prop('required',false);
                    $("#reservation_admin_MemoText").prop('required',false);
                    $("#reservation_admin_MemoTextIntroduce").prop('required',false);
                    $("#reservation_admin_PlayersIntroduce").prop('required',false);
                }
            })
            $('#reservation_admin_introduce').on('click',function(){
                if ($("input#reservation_admin_introduce").prop("checked")) {
                    $('#reservation_admin_MemoTextIntroduce').removeClass('d-none');
                    $('.IntroduceLabel').removeClass('d-none');
                    $('#reservation_admin_PlayersIntroduce').removeClass('d-none');
                    $('#reservation_admin_MemoText').addClass('d-none');
                    $('.verhuurLabel').addClass('d-none');
                    $('#reservation_admin_Players').addClass('d-none');
                    $("input#reservation_admin_ReservationType").prop("checked", false);

                    $("#reservation_admin_Players").prop('required',false);
                    $("#reservation_admin_MemoText").prop('required',false);
                    $("#reservation_admin_MemoTextIntroduce").prop('required',true);
                    $("#reservation_admin_PlayersIntroduce").prop('required',true);
                }else{
                    $('#reservation_admin_MemoTextIntroduce').addClass('d-none');
                    $('.IntroduceLabel').addClass('d-none');
                    $('#reservation_admin_PlayersIntroduce').addClass('d-none');
                    $("#reservation_admin_Players").prop('required',false);
                    $("#reservation_admin_MemoText").prop('required',false);
                    $("#reservation_admin_MemoTextIntroduce").prop('required',false);
                    $("#reservation_admin_PlayersIntroduce").prop('required',false);
                }

            })
            $.widget("custom.combobox", {
                _create: function () {
                    this.wrapper = $("<span>")
                        .addClass("custom-combobox")
                        .insertAfter(this.element);

                    this.element.hide();
                    this._createAutocomplete();
                    this._createShowAllButton();
                },

                _createAutocomplete: function () {
                    var selected = this.element.children(":selected"),
                        value = selected.val() ? selected.text() : "";

                    this.input = $("<input>")
                        .appendTo(this.wrapper)
                        .val(value)
                        .attr("title", "")
                        .addClass("custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left")
                        .autocomplete({
                            delay: 0,
                            minLength: 0,
                            source: $.proxy(this, "_source")
                        })
                        .tooltip({
                            classes: {
                                "ui-tooltip": "ui-state-highlight"
                            }
                        });

                    this._on(this.input, {
                        autocompleteselect: function (event, ui) {
                            ui.item.option.selected = true;
                            this._trigger("select", event, {
                                item: ui.item.option
                            });
                        },

                        autocompletechange: "_removeIfInvalid"
                    });
                },

                _createShowAllButton: function () {
                    var input = this.input,
                        wasOpen = false;

                    $("<a>")
                        .attr("tabIndex", -1)
                        .attr("title", "Show All Items")
                        .tooltip()
                        .appendTo(this.wrapper)
                        .button({
                            icons: {
                                primary: "ui-icon-triangle-1-s"
                            },
                            text: false
                        })
                        .removeClass("ui-corner-all")
                        .addClass("custom-combobox-toggle ui-corner-right")
                        .on("mousedown", function () {
                            wasOpen = input.autocomplete("widget").is(":visible");
                        })
                        .on("click", function () {
                            input.trigger("focus");

                            // Close if already visible
                            if (wasOpen) {
                                return;
                            }

                            // Pass empty string as value to search for, displaying all results
                            input.autocomplete("search", "");
                        });
                },

                _source: function (request, response) {
                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    response(this.element.children("option").map(function () {
                        var text = $(this).text();
                        if (this.value && (!request.term || matcher.test(text)))
                            return {
                                label: text,
                                value: text,
                                option: this
                            };
                    }));
                },

                _removeIfInvalid: function (event, ui) {

                    // Selected an item, nothing to do
                    if (ui.item) {
                        return;
                    }

                    // Search for a match (case-insensitive)
                    var value = this.input.val(),
                        valueLowerCase = value.toLowerCase(),
                        valid = false;
                    this.element.children("option").each(function () {
                        if ($(this).text().toLowerCase() === valueLowerCase) {
                            this.selected = valid = true;
                            return false;
                        }
                    });

                    // Found a match, nothing to do
                    if (valid) {
                        return;
                    }

                    // Remove invalid value
                    this.input
                        .val("")
                        .attr("title", value + " didn't match any item")
                        .tooltip("open");
                    this.element.val("");
                    this._delay(function () {
                        this.input.tooltip("close").attr("title", "");
                    }, 2500);
                    this.input.autocomplete("instance").term = "";
                },

                _destroy: function () {
                    this.wrapper.remove();
                    this.element.show();
                }
            });


            $( "#reservation_admin_Player" ).combobox();

            $( "#reservation_admin_OtherPlayers1" ).combobox();

            $( "#reservation_admin_OtherPlayers2" ).combobox();

            $( "#reservation_admin_OtherPlayers0" ).combobox();
            $( "#toggle" ).on( "click", function() {
                $( ".form-control" ).toggle();
            });

            $(window).click(function() {
                $("#reservation_admin_OtherPlayers option:selected").prop("selected", false);
                $("#reservation_admin_Player option:selected").prop("selected", false);
                $(".custom-combobox-input").each( function () {
                    if( $(this).val().match(/([a-zA-Z])+([ -~])*/) ) {

                        if(( !$(this).parent().parent().has( "select#reservation_admin_Player" ).length )) {
                            $("#reservation_admin_OtherPlayers option:contains(" + $(this).val() + ")").prop("selected", true);
                        }else{
                            $("#reservation_admin_Player option:contains(" + $(this).val() + ")").prop("selected", true);
                        }
                    }
                });
            });
        });

    </script>
    <style type="text/css">
        input[type="checkbox"] {
         opacity: 1 !important;
         pointer-events: visibleStroke !important;
        }

</style>

{% endblock %}

{% block body %}

    <div class="row w-100">
        <div class="card w-100" style="overflow-x: scroll; padding: 50px;">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center">Wie spelen er?</h3>
                </div>
                <hr>
                {{ form_start(reservation) }}
                <div class="row">
                    <div class="col">
                        <div class="ui-widget">
                        {{ form_widget(reservation) }}
                        </div>
                    </div>
                </div>
                {{ form_end(reservation) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
