{% extends 'UserLogedin.html.twig' %}

        {% block title %}IZEW - {{ Title }}{% endblock %}


        {% block stylesheets %}
            {{ encore_entry_link_tags('DataTables') }}


            {{ parent() }}
        {% endblock %}

        {% block body %}
            {% if app.user.ProfileImage is null %}
                <div class="alert alert-danger">
                    <strong>Zonder profiel foto word u niet geactiveerd!</strong> voeg uw profiel foto <a class="badge badge-important" href="{{ path('accountSettings') }}">hier</a> toe.
                </div>
            {% endif %}
            {% if app.user.Firstname is null or app.user.Lastname is null %}
                <div class="alert alert-danger">
                    <strong>Configureer uw profiel!</strong> vul uw voor en achternaam in om verder te gaan. <a
                            class="badge badge-important" href="{{ path('accountSettings') }}">dat kan u hier</a>
                </div>
            {% endif %}
            {% if app.user.ActivateUser is null or app.user.ActivateUser == 0 %}
                <div class="alert alert-danger">
                    <strong>Je bent nog niet geactiveerd!</strong> Wacht totdat je geactiveerd wordt. Mocht het te lang duren neem dan contact op met info@zonenwind.nl
                </div>
            {% endif %}
            <div class="row w-100">
                <div class="card w-100" style="overflow-x: scroll; padding: 50px;">
                    <h3 id="monthYear">

                    </h3>
                    <div class="span12">
                        <table class="table-condensed table-bordered table-striped">
                            <thead>
                            <tr>
                                <th><span id="Day1"></span></th>
                                <th><span id="Day2"></span></th>
                                <th><span id="Day3"></span></th>
                                <th><span id="Day4"></span></th>
                                <th><span id="Day5"></span></th>
                                <th><span id="Day6"></span></th>
                                <th><span id="Day7"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set day = 0 %}
                            {% set dayButton = 0 %}
                            {% for i in 0..52 %}
                            <tr>
                                {% for i in 0..6 %}
                                    {% set date = '+'~day ~ ' day' %}
                                    <td>{{ "now"|date_modify(date)|date("d/m/Y") }}</td>
                                    {% set day = day+1 %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for i in 0..6 %}
                                    {% set date = '+'~dayButton ~ ' day' %}
                                    <td><a class="btn
                                {% if app.user.ActivateUser is null or app.user.ActivateUser == 0 %}
                                   disabled
                                {% endif %}" href="{{ path('CourtPlayersReservationAdmin',{date:"now"|date_modify(date)|date("Y-m-d")}) }}">
                                            kies
                                        </a>
                                    </td>
                                    {% set dayButton = dayButton+1 %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {% endblock %}
{% block modals %}
    <div class="modal fade" id="DeleteCerification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    If you click delete the object will be permanently be deleted.

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" id="modal-link" href="">Delete <span class="fas fa-times-circle"></span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

            {% block javascripts %}
                {{ parent() }}
                <script type="text/javascript">
                    var dt = new Date();
                    var day = dt.getDay();
                    dt.getDay();
                    const monthNames = ["januari", "februari", "maart", "april", "mei", "juni",
                        "juli", "August", "september", "oktober", "november", "december"
                    ];

                    document.getElementById('monthYear').innerHTML = monthNames[dt.getMonth()] +" "+ dt.getFullYear();

                    for (i = 1; i < 8; i++) {
                        switch (day) {
                            case 0:
                                document.getElementById('Day' + i).innerHTML = "zo";
                                break;
                            case 1:
                                document.getElementById('Day' + i).innerHTML = "ma";
                                break;
                            case 2:
                                document.getElementById('Day' + i).innerHTML = "di";
                                break;
                            case 3:
                                document.getElementById('Day' + i).innerHTML = "wo";
                                break;
                            case 4:
                                document.getElementById('Day' + i).innerHTML = "do";
                                break;
                            case 5:
                                document.getElementById('Day' + i).innerHTML = "vr";
                                break;
                            case 6:
                                document.getElementById('Day' + i).innerHTML = "za";
                                break;
                        }
                        if (day === 6) {
                            day = 0;
                        } else {
                            day++;
                        }
                    }
                    dt.getFullYear();
                    dt.getDate();
                </script>



                {{ encore_entry_script_tags('DataTables') }}
                <script>
                    $('[data-toggle="modal"]').on('click', function (e) {
                        // convert target (e.g. the button) to jquery object
                        var $target = $(e.target);

                        // modal targeted by the button
                        var modalSelector = $target.data('target');
                        // retrieve the dom element corresponding to current attribute
                        var $modalAttribute = $(modalSelector + ' #modal-link');
                        var dataValue = $target.data('link');
                        $modalAttribute.attr('href', dataValue);
                    });

                </script>
            {% endblock %}

