{% extends 'UserLogedin.html.twig' %}

{% block title %} IZEW - DASHBOARD{% endblock %}


{% block body %}

    {% if app.user.ProfileImage is null %}
        <div class="alert alert-danger">
            <strong>Zonder profiel foto word u niet geactiveerd!</strong> voeg uw profiel foto <a class="badge badge-important" href="{{ path('accountSettings') }}">hier</a> toe.
        </div>
    {% endif %}
    {% if app.user.Firstname is null or app.user.Lastname is null %}
        <div class="alert alert-danger">
            <strong>Configureer uw profiel!</strong> vul uw voor en achternaam in om verder te gaan. <a
                    class="badge badge-important" href="{{ path('accountSettings') }}">dat kan u hier</a>
        </div>
    {% endif %}
    {% if app.user.ActivateUser is null or app.user.ActivateUser == 0 %}
        <div class="alert alert-danger">
            <strong>Je bent nog niet geactiveerd!</strong> Wacht totdat je geactiveerd wordt. Mocht het te lang duren neem dan contact op met info@zonenwind.nl
        </div>
    {% endif %}
    <div class="row w-100">
        <div class="card w-100" style="overflow-x: scroll; padding: 50px;padding-left: 0px;">
            <h3 id="monthYear" class="pl-5">
                U kijkt nu op
                {% if "now" | date("d/m/Y") == ChosenDate | date("d/m/Y") %}
                    vandaag
                {% elseif date("+1 day") | date("d/m/Y") == ChosenDate | date("d/m/Y") %}
                    morgen
                {% elseif date("+2 day") | date("d/m/Y") == ChosenDate | date("d/m/Y") %}
                    overmorgen
                {% elseif date("+3 day") | date("d/m/Y") == ChosenDate | date("d/m/Y") %}
                    drie dagen verder
                {% elseif date("+4 day") | date("d/m/Y") == ChosenDate | date("d/m/Y") %}
                    vier dagen verder
                {% elseif date("+5 day") | date("d/m/Y") == ChosenDate | date("d/m/Y") %}
                    vijf dagen verder
                {% elseif date("+6 day") | date("d/m/Y") == ChosenDate | date("d/m/Y") %}
                    zes dagen verder
                {% elseif date("+7 day") | date("d/m/Y") == ChosenDate | date("d/m/Y") %}
                    zeven dagen verder
                {% elseif date("+7 day") | date("d/m/Y") < ChosenDate | date("d/m/Y") %}
                    een dag(en) te ver
                {% endif %}

            </h3>
            <h4 class="pl-5">
                {{ ChosenDate | date("d/m/Y") }}
            </h4>
            <div class="pl-5 pb-5">
                {% if "now"|date("U") < ChosenDate|date("U") %}
                    <a href="{{ path('CourtReservation',{date: ChosenDate|date_modify("-1 day")|date("d-m-Y") }) }}" class="btn btn-outline-danger">-1 dag</a>
                {% endif %}

                {% if date("+6 day") | date("U") > ChosenDate | date("U") %}
                    <a href="{{ path('CourtReservation',{date: ChosenDate|date_modify("+1 day")|date("d-m-Y") }) }}" class="btn btn-outline-danger">+1 dag</a>
                {% endif %}
            </div>
            <div class="span12">
                <table class="table-condensed table-sticky table-bordered table-striped">
                    <thead>
                    <tr>
                        <th style="z-index: 6;">Tijd</th>
                        {% for c in 1..11 %}
                        <th>baan {{ c }}</th>
                        {% endfor %}

                    </tr>
                    </thead>
                    <tbody>
                    {% set Previousdate = 0 %}
                    {% set PreviousTime = 0 %}
                    {% for t in times %}
                    <tr>
                        <th> {{ t }}</th>
                        {% for c in 1..11 %}
                            <td>
                                {% set stringdate = ChosenDate~" "~t~":00" %}
                                {% set date = stringdate|date('U') %}
                                {% if date~c in allReservations or Previousdate~c in allReservations %}
                                    <a class="btn btn-danger">bezet</a>
                                {% else %}
                                    <a class="btn
                                    {% if date(ChosenDate~" 22:30")|date('U') == date or (date(ChosenDate~" 17:30")|date('U') == date and (ChosenDate|date('w') == 0 or ChosenDate|date('w') == 6) )  or date()|date_modify("+7 day") < date(stringdate) or date(stringdate)|date_modify("+30 minute")|date('U')~c in allReservations or date(stringdate) < date() or (date(ChosenDate~sundown) < date(stringdate) and (c==1 or c==2 or c==3 or c==4 or c==7 or c==8 or c==9)) %}
                                        disabled"
                                       {% else %}
                                            " href="{{ path('RegisterGame',{time:date,Court:c}) }}"
                                    {% endif %}
                                       >
                                        kies</a>
                                {% endif %}
                        </td>
                            {% set PreviousTime = ChosenDate~" "~t~":00" %}
                        {% endfor %}
                    </tr>
                        {% set Previousdate = PreviousTime|date('U') %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    </script>
{% endblock %}
