{% extends 'UserLogedin.html.twig' %}

        {% block title %}ISSIMI - {{ Title }}{% endblock %}


        {% block stylesheets %}
            {{ encore_entry_link_tags('DataTables') }}


            {{ parent() }}
        {% endblock %}

        {% block body %}

            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">CourtReservations Info</strong>
                        </div>
                        <div class="card-body">
                            <!-- Credit Card -->

                            <div style="padding:1em;overflow-x: scroll;">
                                <div class="card-title">
                                    <h3 class="text-center">Table Of CourtReservations</h3>
                                </div>
                                <hr>
                                <h1>All CourtReservations</h1>
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>CourtReservationss ID</th>
                                        <th>tijd</th>
                                        <th>baan</th>
                                        <th>Speler</th>
                                        <th>Email</th>
                                        <th>Telefoon</th>
                                        <th>hoeveelheid</th>
                                        <th>Speeltijd</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for CourtReservation in CourtReservations|sort %}
                                    {% if date(CourtReservation.StartTime) < date() and date(CourtReservation.StartTime) > date() %}
                                        <tr>
                                            <td>{{ CourtReservation.id }}</td>
                                            <td>{{ CourtReservation.StartTime|date('d-m-Y H:i:s') }}</td>
                                            <td>{{ CourtReservation.Court }}</td>
                                            <td>{{ CourtReservation.Player.Firstname }} {{ CourtReservation.Player.Lastname }}</td>
                                            <td>{{ CourtReservation.Player.Email }}</td>
                                            <td>{{ CourtReservation.Player.Mobile }}</td>
                                            <td>{{ CourtReservation.Players }}</td>
                                            <td>deze group heeft recht op
                                                <span class="badge badge-light">
                                                {% if CourtReservation.Players == 4 %}
                                                     1 uur
                                                {% elseif CourtReservation.Players == 3  %}
                                                    3 kwartier
                                                {% elseif CourtReservation.Players == 2  %}
                                                    één half uur
                                                {% else  %}
                                                    onbekende
                                                {% endif %}
                                                </span>
                                                speel tijd
                                            </td>
                                        </tr>
                                        {% elseif date(CourtReservation.StartTime) > date() and app.user.id == CourtReservation.Player.id %}
                                    <tr>
                                    <td>{{ CourtReservation.id }}</td>
                                    <td>{{ CourtReservation.StartTime|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ CourtReservation.Court }}</td>
                                    <td>{{ CourtReservation.Player.Firstname }} {{ CourtReservation.Player.Lastname }}</td>
                                    <td>{{ CourtReservation.Player.Email }}</td>
                                    <td>{{ CourtReservation.Player.Mobile }}</td>
                                    <td>{{ CourtReservation.Players }}</td>
                                    <td>u heeft recht op
                                    <span class="badge badge-light">
                                    {% if CourtReservation.Players == 4 %}
                                    1 uur
                                    {% elseif CourtReservation.Players == 3  %}
                                    3 kwartier
                                    {% elseif CourtReservation.Players == 2  %}
                                    één half uur
                                    {% else  %}
                                    onbekende
                                    {% endif %}
                                    </span>
                                    speel tijd
                                    </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
{% block modals %}
    <div class="modal fade" id="DeleteCerification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    If you click delete the object will be permanently be deleted.

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-danger" id="modal-link" href="">Delete <span class="fas fa-times-circle"></span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

            {% block javascripts %}
                {{ parent() }}




                {{ encore_entry_script_tags('DataTables') }}
                <script>
                    $('.payed').on('click', function (e) {
                        var userid = $(this).val();
                        $.post("{{ path('Payment') }}", {id: userid});
                        $(".tbrw"+userid).toggleClass("yellow")
                    });
                    $('.Active').on('click', function (e) {
                        var userid = $(this).val();
                        $.post("{{ path('Activate') }}", {id: userid});
                    });

                    $('[data-toggle="modal"]').on('click', function (e) {
                        // convert target (e.g. the button) to jquery object
                        var $target = $(e.target);

                        // modal targeted by the button
                        var modalSelector = $target.data('target');
                        // retrieve the dom element corresponding to current attribute
                        var $modalAttribute = $(modalSelector + ' #modal-link');
                        var dataValue = $target.data('link');
                        $modalAttribute.attr('href', dataValue);
                    });

                </script>
            {% endblock %}

