{% extends 'UserLogedin.html.twig' %}

        {% block title %}IZEW - {{ Title }} {% endblock %}


        {% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('DataTables') }}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    @media (min-width: 62em) {
        .card-columns {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
        }
    }
    @media (min-width: 85em) {
        .card-columns {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }
    }

    @media (min-width: 150em) {
        .card-columns {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }
    }
.flotTip{
    color: white;
}


</style>
        {% endblock %}

        {% block body %}

<div class="card-columns">
            <div class="col">
                <div class="content mt-3">
                    <div class="animated fadeIn">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Member Info</strong>
                            </div>
                            <div class="card-body">
                                <!-- Credit Card -->

                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center">Fill in Member</h3>
                                    </div>
                                    <hr>
                                    {{ form_start(Member) }}

                                    <div class="row">
                                        <div class="col">
                                            {{ form_widget(Member) }}
                                        </div>
                                    </div>
                                    {{ form_end(Member) }}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">gebruikers statistiek</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="text-primary col align-center">
                                <h2>gemaakte reserveringen</h2>
                                <h3>{{ AccountData.CourtReservations|length }}</h3>
                            </div>
                            <div class="text-info col align-center">
                                <h2>toegevoegd aan reserveringen</h2>
                                <h3>{{ AccountData.CourtReservationsTeam|length }}</h3>
                            </div>
                            <div class="text-danger col align-center">
                                <h2>Systeem bezocht</h2>
                                <h3>{{ AccountData.pageVisits|length }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-secondary col align-center">
                                <h5>
                                    speeldagen
                                </h5>
                                <div class="span12">
                                    <table id="table1" class="table-condensed table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    DAG
                                                </th>
                                                <th>
                                                    HOEVEELHEID
                                                </th>
                                            </tr>
                                        </thead>
                                        {% for day in days %}
                                            <tr>
                                                <th>
                                                    {{ day.day }}
                                                </th>
                                                <td>
                                                    {{ day.amount }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="text-success col align-center">

                                <h5>
                                    Met wie gespeeld
                                </h5>
                                <div class="span12">
                                    <table id="table1" class="table-condensed table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>
                                                SPELER
                                            </th>
                                            <th>
                                                HOEVEELHEID
                                            </th>
                                        </tr>
                                        </thead>
                                        {% for player in Players %}
                                            <tr>
                                                <th>
                                                    {{ player.Name }}
                                                </th>
                                                <td>
                                                    {{ player.amount }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-info col align-center">

                                <h5>
                                    Waarop gespeeld
                                </h5>
                                <div class="span12">
                                    <table id="table1" class="table-condensed table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>
                                                VELD
                                            </th>
                                            <th>
                                                HOEVEELHEID
                                            </th>
                                        </tr>
                                        </thead>
                                        {% for Court in Courts %}
                                            <tr>
                                                <th>
                                                    {{ Court.Court }}
                                                </th>
                                                <td>
                                                    {{ Court.amount }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="text-danger col align-center">

                                <h5>
                                    Speeltype
                                </h5>
                                <div class="span12">
                                    <table id="table1" class="table-condensed table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>
                                                TYPE
                                            </th>
                                            <th>
                                                HOEVEELHEID
                                            </th>
                                        </tr>
                                        </thead>
                                        {% for type in types %}
                                            <tr>
                                                <th>
                                                    {% if type.Court == 1 %}
                                                        <h5>1. Les</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#0d95e8;"></div>
                                                    {% elseif type.Court == 2 %}
                                                        <h5>2.Toss</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#05c5e2;"></div>
                                                    {% elseif type.Court == 3 %}
                                                        <h5>3. Competitie</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#ece109;"></div>
                                                    {% elseif type.Court == 4 %}
                                                        <h5>4. Event</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#0d23e8;"></div>
                                                    {% elseif type.Court == 5 %}
                                                        <h5>5. Verhuur</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#ff790f;"></div>
                                                    {% elseif type.Court == 6 %}
                                                        <h5>6. Introduce</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#880ba7;"></div>
                                                    {% elseif type.Court == 7 %}
                                                        <h5>7. Tennis Kamp</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#0de823;"></div>
                                                    {% elseif type.Court == 8 %}
                                                        <h5>8. Overig</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#727274;"></div>
                                                    {% elseif type.Court == 9 %}
                                                        <h5>9. reservering</h5> <div class="border-dark" style="height:20px;width:100%;border: 1px black solid;background-color:#e70808;"></div>
                                                    {% endif %}
                                                </th>
                                                <td>
                                                    {{ type.amount }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="text-info col align-center">

                                <h5>
                                    Speel grafiek
                                </h5>
                                <div>
                                    <div class="flot-container">
                                        <div id="chart1" style="width:500px;height:275px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col" style="z-index: 13;">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Openstaande reserveringen</strong>
                    </div>
                    <div class="card-body">
                        <div style="padding:1em;overflow-x: scroll;">
                            <div class="card-title">
                                <h3 class="text-center">Reserveringen door lid aangemaakt</h3>
                            </div>
                            <hr>
                            <table class="bootstrap-data-table table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>tijd</th>
                                    <th>baan</th>
                                    <th>Speler</th>
                                    <th>hoeveelheid</th>
                                    <th>spelers</th>
                                    <th>Speeltijd</th>
                                    <th>aanpassen</th>
                                    <th>Verwijderen</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for CourtReservation in AccountData.CourtReservations|sort %}
                                    {% if date(CourtReservation.StartTime) > date()|date_modify("-1 hour") and (CourtReservation.ReservationType == 0 or CourtReservation.ReservationType == 9) %}
                                        <tr>
                                            <td>{{ CourtReservation.StartTime|date('d-m-Y H:i:s') }}</td>
                                            <td>{{ CourtReservation.Court }}</td>
                                            <td>{% if CourtReservation.Player.Firstname is defined %}{{ CourtReservation.Player.Firstname }} {% endif %} {% if CourtReservation.Player.Lastname is defined %}{{ CourtReservation.Player.Lastname }}{% endif %}</td>
                                            <td>{{ CourtReservation.Players }}</td>
                                            <td>
                                                {% if CourtReservation.OtherPlayers.First.Firstname is defined and CourtReservation.OtherPlayers.First.Lastname is defined %}
                                                    {% for Player in CourtReservation.OtherPlayers|sort %}
                                                        <p>{{ Player.Firstname }} {{ Player.Lastname }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>je hebt recht op:
                                                <span class="badge badge-light">
                                                        1 uur
                                                    </span>
                                                speel tijd
                                            </td>
                                            <td>
                                                <a class="btn btn-secondary" href="{{ path('PlayerChangeReservation',{time:CourtReservation.StartTime|date('U'),Court:CourtReservation.Court}) }}">
                                                    aanpassen
                                                </a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger" href="{{ path('PlayerDeleteReservation',{time:CourtReservation.StartTime|date('U'),Court:CourtReservation.Court}) }}">
                                                    verwijder
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                        <!-- Credit Card -->

                        <div style="padding:1em;overflow-x: scroll;">
                            <div class="card-title">
                                <h3 class="text-center">Reserveringen door een ander lid aangemaakt</h3>
                            </div>
                            <hr>
                            <table class="bootstrap-data-table table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>tijd</th>
                                    <th>baan</th>
                                    <th>Speler</th>
                                    <th>hoeveelheid</th>
                                    <th>Spelers</th>
                                    <th>Speeltijd</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for CourtReservation in AccountData.CourtReservationsTeam|sort %}
                                    {% if date(CourtReservation.StartTime) > date()|date_modify("-1 hour") and (CourtReservation.ReservationType == 0 or  CourtReservation.ReservationType == 9) %}
                                        <tr>
                                            <td>{{ CourtReservation.StartTime|date('d-m-Y H:i:s') }}</td>
                                            <td>{{ CourtReservation.Court }}</td>
                                            <td>{% if CourtReservation.Player.Firstname is defined %}{{ CourtReservation.Player.Firstname }} {% endif %} {% if CourtReservation.Player.Lastname is defined %}{{ CourtReservation.Player.Lastname }}{% endif %}</td>
                                            <td>{{ CourtReservation.Players }}</td>
                                            <td>
                                                {% if CourtReservation.OtherPlayers.First.Firstname is defined and CourtReservation.OtherPlayers.First.Lastname is defined %}
                                                    {% for Player in CourtReservation.OtherPlayers|sort %}
                                                        <p>{{ Player.Firstname }} {{ Player.Lastname }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>je hebt recht op:
                                                <span class="badge badge-light">
                                                        1 uur
                                                    </span>
                                                speel tijd
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="content mt-3">
                    <div class="animated fadeIn">
                        <div class="card">
                            <!-- Credit Card -->
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center">Profiel foto</h3>
                                </div>
                                <hr>
                                <div class="row static" style="object-fit: cover;">
                                    <div class="col">
                                        <div style=" height: 100%;"
                                             class="border-white p-0 border-6 profile-image">
                                            <img class=" my-image card-img cover align-bottom static"
                                                 src="{{ asset('uploads/images/profile/') }}{% if AccountData.ProfileImage is defined and AccountData.ProfileImage is not null %}{{ AccountData.ProfileImage }}{% else %}profile.png{% endif %}"
                                                 alt="Card image">
                                        </div>
                                    </div>
                                </div>
                                <h4>Reglement profiel foto:</h4>
                                <ol>
                                    <li>
                                        Uw profielfoto dient een recente pasfoto te zijn.
                                    </li>
                                    <li>
                                        Na het uploaden van deze pasfoto zal deze door het tennispark in het systeem
                                        toegevoegd worden.
                                    </li>
                                    <li>
                                        Hierna wordt uw account geactiveerd en kunt u reserveren.
                                    </li>


                                </ol>
                                <h4>upload profiel foto</h4>
                                <div class="row">
                                    <div class="col">
                                        {{ form_start(ImagesProf) }}
                                        {{ form_widget(ImagesProf) }}
                                        <button type="submit" class="btn-primary btn">Submit</button>
                                        {{ form_end(ImagesProf) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Password Info</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->

                <div class="card-title">
                    <h3 class="text-center">Fill in Password</h3>
                </div>
                <hr>
                {{ form_start(Password) }}
                <div class="row">
                    <div class="col">
                        {{ form_widget(Password) }}
                    </div>
                </div>
                {{ form_end(Password) }}
            </div>

        </div>
    </div>
</div>

        {% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('vendors/flot/excanvas.js') }}"></script>
    <script src="{{ asset('vendors/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('vendors/flot/jquery.flot.time.js') }}"></script>
    <script src="{{ asset('vendors/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('assets/js/init-scripts/flot-chart/curvedLines.js') }}"></script>
    <script src="{{ asset('assets/js/init-scripts/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js') }}"></script>

{{ encore_entry_script_tags('DataTables') }}
<script>
        jQuery(document).ready(function () {
            $('[data-toggle="modal"]').on('click', function (e) {
                // convert target (e.g. the button) to jquery object
                var $target = $(e.target);

                // modal targeted by the button
                var modalSelector = $target.data('target');
                // retrieve the dom element corresponding to current attribute
                var $modalAttribute = $(modalSelector + ' #modal-link');
                var dataValue = $target.data('link');
                $modalAttribute.attr('href', dataValue);
            });
            line2Flot();


            $('.js-datepicker').datepicker({dateFormat: 'yy-mm-dd'}).val();
        });

        function line2Flot() {

            // first chart
            var chart1Options = {
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    },
                    curvedLines: {
                        active: true
                    }
                },
                xaxis: {
                    mode: "time",
                    timeformat: '%d.%m.%y',
                    tickFormatter: function (val, axis) {
                        var a = new Date(val * 1000);
                        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                        var year = a.getFullYear();
                        var month = months[a.getMonth()];
                        var date = a.getDate();
                        return date + ' ' + month + ' ' + year;

                    },
                    timezone: "browser",
                },
                legend: {
                    noColumns: 3,
                    show: false
                },
                grid: {
                    color: "#000",
                    hoverable: true,
                    borderWidth: 0,
                    backgroundColor: 'transparent'
                },
                tooltip: {
                    show: true,
                    content: "hoeveelheid: %y - Maand: %x"
                }
            };
            var chart1Data = [{
                "label": "Reserveringen",
                "curvedLines": {
                    "apply": false
                },
                "animator": {
                    "start": 0,
                    "steps": 0,
                    "duration": 3000,
                    "direction": "right"
                },
                "idx": 0,
                "color": "#007BFF",
                "data": [{% for Reservation in Reservations %}
                    [ {{ Reservation.Date|date('U') }}, {{ Reservation.amount }}],
                    {% endfor %}]
            }];
            $.plot($("#chart1"), chart1Data, chart1Options);
        }
    </script>

{% endblock %}