{% extends 'UserLogedin.html.twig' %}

        {% block title %}IZEW - {{ Title }}{% endblock %}


        {% block stylesheets %}
            {{ encore_entry_link_tags('DataTables') }}
            <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
                  rel="stylesheet" type="text/css">
            <link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css"
                  rel="stylesheet" type="text/css">

            {{ parent() }}

        {% endblock %}

        {% block body %}

            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Ledenregister</strong>
                        </div>
                        <div class="card-body">
                            <!-- Credit Card -->

                            <a href="{{ path('new-member-Registry') }}" class="btn btn-outline-primary pull-right">
                                Create <span class="fa fa-plus-circle"></span>
                            </a>
                            <div style="padding:1em;overflow-x: scroll;">
                                <div class="card-title">
                                    <h3 class="text-center">Ledenregister tabel</h3>
                                </div>
                                <hr>
                                <table id="bootstrap-data-table{% if is_granted('ROLE_USERMANAGEMENT') or is_granted('ROLE_ADMIN') %}-local{% else %}-export{% endif %}" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Members ID</th>
                                        <th>Foto</th>
                                        <th>voornaam</th>
                                        <th>Achternaam</th>
                                        <th>Email</th>
                                        <th>Telefoon</th>
                                        {% if is_granted('ROLE_USERMANAGEMENT') or is_granted('ROLE_ADMIN') %}
                                            <th>Betaald</th>
                                            <th>Actief</th>
                                            <th>Winterlid</th>
                                            <th>Zomerlid</th>
                                        {% endif %}
                                            <th>Change</th>
                                        {% if is_granted('ROLE_USERMANAGEMENT') or is_granted('ROLE_ADMIN') %}
                                            <th>Delete</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for Member in Members|sort %}
                                        <tr class="tbrw{{ Member.id }}
                                               {% if Member.payed == 0 %}
                                                    yellow
                                                {% endif %}">
                                            <td>{{ i }}</td>
                                            <td>
                                                {% if Member.ProfileImage is defined and Member.ProfileImage != NULL %}
                                                    <img alt="Image" style="height:75px;object-fit: cover" src="{{ asset('uploads/images/profile/') }}{{ Member.ProfileImage }}" class="avatar avatar-lg mt-1">
                                                {% else %} geen foto toegevoegd {% endif %}
                                            </td>
                                            <td>{{ Member.Firstname }}</td>
                                            <td>{{ Member.Lastname }}</td>
                                            <td>{{ Member.Email }}</td>
                                            <td>{{ Member.Mobile }}</td>
                                            {% if is_granted('ROLE_USERMANAGEMENT') or is_granted('ROLE_ADMIN') %}
                                                <td>
                                                    <p>
                                                        <label for="payed">
                                                            <input class="payed filled-in" type="checkbox" style="z-index:100;height:100px;width:100px;opacity: 0;pointer-events: all;" {% if Member.payed == 1 %}checked{% endif %}  name="payed" value="{{ Member.id }}"/>
                                                            <span>Heeft betaald</span>
                                                        </label>
                                                        <span id="haspayed{{ Member.Id }}">{% if Member.payed == 1 %} ja {% else %} nee {% endif %}</span>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>
                                                        <label for="payed">
                                                            <input class="Active filled-in" type="checkbox" style="z-index:100;height:100px;width:100px;opacity: 0;pointer-events: all;" {% if Member.ActivateUser == 1 %}checked{% endif %}  name="Active" value="{{ Member.id }}"/>
                                                            <span>Is actief</span>
                                                        </label>
                                                        <span id="hasActivated{{ Member.Id }}">{% if Member.ActivateUser == 1 %} ja {% else %} nee {% endif %}</span>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p>
                                                        <label for="payed">
                                                            <input class="Winter  filled-in" type="checkbox" style="z-index:100;height:100px;width:100px;opacity: 0;pointer-events: all;" {% if Member.WinterMember == 1 %}checked{% endif %}  name="Active" value="{{ Member.id }}"/>
                                                            <span>Is Winterlid</span>
                                                        </label>
                                                    </p>
                                                    <span id="hasWinterMember{{ Member.Id }}">{% if Member.WinterMember == 1 %} ja {% else %} nee {% endif %}</span>
                                                </td>
                                                <td>
                                                    <p>
                                                        <label for="payed">
                                                            <input class="Summer  filled-in" type="checkbox" style="z-index:100;height:100px;width:100px;opacity: 0;pointer-events: all;" {% if Member.SummerMember == 1 %}checked{% endif %}  name="Active" value="{{ Member.id }}"/>
                                                            <span>Is Zomerlid</span>
                                                            </label>
                                                        <span id="hasSummerMember{{ Member.Id }}">{% if Member.SummerMember == 1 %} ja {% else %} nee {% endif %}</span>
                                                    </p>
                                                </td>
                                            {% endif %}
                                                <td><a class="btn btn-primary" href="{{ path('Member-Change',{MemberId: Member.id}) }}">Change <span class="fas fa-pen-square"></span></a></td>
                                            {% if is_granted('ROLE_USERMANAGEMENT') or is_granted('ROLE_ADMIN') %}
                                                <td>
                                                    <button type="button" id="{{ Member.id }}" class="DeletePlayer btn btn-danger" data-toggle="modal" data-target="#DeletePlayer" data-link="{{ path('Member-Delete',{MemberId: Member.id}) }}">
                                                        Delete <span class="fas fa-times-circle"></span>
                                                    </button>
                                                </td>
                                            {% endif %}

                                        </tr>
                                        {% set i = i+1 %}
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
{% block modals %}
    <div class="modal fade" id="DeletePlayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bent u zeker?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   Ben je zeker dat je de gebruiker wil verwijderen?

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    <a class="btn btn-danger" id="modal-link" href="">Verwijderen <span class="fas fa-times-circle"></span></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

            {% block javascripts %}
                {{ parent() }}



                {% if is_granted('ROLE_USERMANAGEMENT') or is_granted('ROLE_ADMIN') %}
                <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
                <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
                {% endif %}
                {{ encore_entry_script_tags('DataTables') }}
                <script>
                    $(document).ready(function() {
                        {% if is_granted('ROLE_USERMANAGEMENT') or is_granted('ROLE_ADMIN') %}
                        $('#bootstrap-data-table-local').DataTable( {
                            lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                            dom: 'Bfrtip',
                            buttons: [
                                'copyHtml5',
                                'excelHtml5',
                                'csvHtml5',
                                'pdfHtml5'
                            ]
                        } );

                        $('.payed').on('click', function (e) {
                            var userid = $(this).val();
                            $.post("{{ path('Payment') }}", {id: userid});
                            var item = $("#haspayed"+userid);
                            if (item.html() === " nee ") {
                                item.html(" ja ");
                            }else if (item.html() === " ja "){
                                item.html(" nee ");
                            }
                            $(".tbrw"+userid).toggleClass("yellow")

                        });
                        $('.Active').on('click', function (e) {
                            var userid = $(this).val();
                            $.post("{{ path('Activate') }}", {id: userid});
                            var item = $("#hasActivated"+userid);
                            if (item.html() === " nee ") {
                                item.html(" ja ");
                            }else if (item.html() === " ja "){
                                item.html(" nee ");
                            }
                        });
                        $('.Summer').on('click', function (e) {
                            var userid = $(this).val();
                            $.post("{{ path('SummerMember') }}", {id: userid});
                            var item = $("#hasSummerMember"+userid);
                            if (item.html() === " nee ") {
                                item.html(" ja ");
                            }else if (item.html() === " ja "){
                                item.html(" nee ");
                            }
                        });
                        $('.Winter').on('click', function (e) {
                            var userid = $(this).val();
                            $.post("{{ path('WinterMember') }}", {id: userid});
                            var item = $("#hasWinterMember"+userid);
                            if (item.html() === " nee ") {
                                item.html(" ja ");
                            }else if (item.html() === " ja "){
                                item.html(" nee ");
                            }
                        });

                        $('.DeletePlayer').on('click', function (e) {
                            // convert target (e.g. the button) to jquery object
                            var $target = $(e.target);

                            // modal targeted by the button
                            var modalSelector = $target.data('target');
                            // retrieve the dom element corresponding to current attribute
                            var $modalAttribute = $(modalSelector + ' #modal-link');
                            var dataValue = $target.data('link');
                            $modalAttribute.attr('href', dataValue);
                        });
                        {% endif %}
                    } );

                </script>
            {% endblock %}

