{% extends 'UserLogedin.html.twig' %}

        {% block title %}{{ parent() }} - {{ Title }} {% endblock %}

        {% block body %}
            <div class="row">
                <div class="col-md-4">
                    <div class="content mt-3">
                        <div class="animated fadeIn">
                            <div class="card">
                                <!-- Credit Card -->
                                <div class="card-body">
                                    <div class="card-title">
                                        <h3 class="text-center">Profiel yfoto</h3>
                                    </div>
                                    <hr>
                                    <div class="row static" style="margin-top:150px; object-fit: cover;">
                                        <div class="col">
                                            <div style=" height: 125px;width: 125px;" class="rounded-circle border-white p-0 border-6 profile-image text-white overflow-hidden">
                                                <img class="card-img cover align-bottom static"
                                                     src="{{ asset('uploads/images/profile/') }}{% if AccountData.ProfileImage is defined and AccountData.ProfileImage is not null %}{{ AccountData.ProfileImage }}{% else %}profile.png{% endif %}"
                                                     alt="Card image">
                                            </div>
                                        </div>
                                    </div>
                                    <h4>Reglement profiel foto:</h4>
                                    <ol>
                                    <li>Voor uw profiel foto gelden dezelfde regels als voor uw pas foto.</li>
                                    <li>Nadat uw foto geupload is word deze beoordeelt.</li>
                                    <li>mocht deze niet goed gekeurd worden dan wordt uw foto gewijzigd of verwijderd.</li>
                                    <li>Na het wijzigen van uw profielfoto word uw profiel weer geblokeerd totdat deze goed gekeurd word.</li>
                                        <li>Indien alles is goedgekeurd kunt u reserveren.</li>

                                    </ol>
                                    <h4>upload profiel foto</h4>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_start(ImagesProf) }}
                                            {{ form_widget(ImagesProf) }}
                                            <button type="submit" class="btn-primary btn">Submit</button>
                                            {{ form_end(ImagesProf) }}
                                        </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-8">
                    <div class="content mt-3">
                        <div class="animated fadeIn">
                            <div class="card">
                                <div class="card-body">
                                    <!-- Credit Card -->

                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center">Account Information</h3>
                                        </div>
                                        <hr>
                                        {{ form_start(Account) }}

                                        <div class="row">
                                            <div class="col">
                                                {{ form_widget(Account) }}
                                            </div>
                                        </div>
                                        {{ form_end(Account) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}


{% block javascript %}
{{ parent() }}
<script>



</script>
{% endblock %}




