{% extends 'UserLogedin.html.twig' %}

        {% block title %}In Zon En Wind - {{ Title }} {% endblock %}


        {% block stylesheets %}
                {{ parent() }}

        {% endblock %}

        {% block body %}
                <div class="col-12">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Profile" role="tab" aria-controls="Profile" aria-selected="false">Profile</a>
                        </li>
                    </ul>
                    <div class="media">
                        <div style="height: 75px;width: 75px;">
                            <img alt="Image" style="height:75px;object-fit: cover" src="{{ asset('uploads/Images/profile/') }}{{ userprofile.ProfileImage }}" class="avatar avatar-lg mt-1">
                        </div>
                        <div class="media-body ml-3">
                            <h1 class="mb-0">{{ userprofile.username }}</h1>
                            <p class="lead">{{ userprofile.email }}</p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade  active show" id="users" role="tabpanel" data-filter-list="content-list-body">
                                <div class="content mt-3">
                                    <div class="animated fadeIn">
                                        <div class="card">
                                            <div class="card-body">
                                                <!-- Credit Card -->

                                                <div class="card-body">
                                                    <div class="card-title">
                                                        <h3 class="text-center">Fill in Account</h3>
                                                    </div>

                                                    <hr>
                                                    {{ form_start(Account) }}
                                                    <div class="row">
                                                        <div class="col">
                                                            {{ form_widget(Account) }}
                                                        </div>
                                                    </div>
                                                    {{ form_end(Account) }}
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        <div class="tab-pane fade" id="Profile" role="tabpanel" data-filter-list="content-list-body">
                            <div class="content mt-3">
                                <div class="animated fadeIn">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- Credit Card -->

                                            <div class="card-body">
                                                <div class="card-title">
                                                    <h3 class="text-center">Fill in Account Profile</h3>
                                                </div>
                                                <hr>
                                                {{ form_start(Accountprofile) }}
                                                <div class="row">
                                                    <div class="col">
                                                        {{ form_widget(Accountprofile) }}
                                                    </div>
                                                </div>
                                                {{ form_end(Accountprofile) }}
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endblock %}


{% block javascripts %}

    {{ parent() }}

{% endblock %}






