{% extends 'UserLogedin.html.twig' %}

        {% block title %}In Zon En Wind - {{ Title }} {% endblock %}


        {% block stylesheets %}
                {{ parent() }}

            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        {% endblock %}

        {% block body %}
<div class="content mt-3">
    <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Password Info</strong>
                </div>
                <div class="card-body">
                    <!-- Credit Card -->

                        <div class="card-body">
                            <div class="card-title">
                                <h3 class="text-center">Fill in Password</h3>
                            </div>
                            <hr>
                            {{ form_start(Password) }}
                            <div class="form-group">
                                <label for="password_change_password_first" class="required">
                                    Current Password
                                </label>
                                <input type="password" id="password_change_password_current" name="current" required="required" class="password-field form-control">
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_widget(Password) }}
                                </div>
                            </div>
                            {{ form_end(Password) }}
                        </div>

                </div>

            </div>

    </div>
</div>
        {% endblock %}


{% block javascripts %}

    {{ parent() }}




    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
        });
    </script>

{% endblock %}






